<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ceeriibot">

    <xacro:include filename="$(find ceerii_mobile_bot)/urdf/xacro/chasis.xacro"/>
    <xacro:include filename="$(find ceerii_mobile_bot)/urdf/xacro/wheels.xacro"/>
    <xacro:include filename="$(find ceerii_mobile_bot)/urdf/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find ceerii_mobile_bot)/urdf/xacro/materials.xacro"/>

    <!-- Robot Base Footprint -->
    <link name="base_footprint"></link>

    <!-- Robot Chasis -->
    <xacro:chasis />

    <!-- Robot Wheels -->
    <xacro:wheel prefix="left" y_offset="${chasis_radius}" />
    <xacro:wheel prefix="right" y_offset="${-(chasis_radius)}" />
    <xacro:passive_wheel x_offset="0.065" z_offset="-0.02" />

</robot>