<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="head_mass" value="0.02" />
    <xacro:property name="head_width" value="0.03" />
    <xacro:property name="head_length" value="0.03" />
    <xacro:property name="head_height" value="0.03" />

    <xacro:property name="head_inertia_calc_ixx" value="${(1/12) * head_mass * ((head_height * head_height) + (head_length * head_length))}" />
    <xacro:property name="head_inertia_calc_iyy" value="${(1/12) * head_mass * ((head_width * head_width) + (head_height * head_height))}" />
    <xacro:property name="head_inertia_calc_izz" value="${(1/12) * head_mass * ((head_width * head_width) + (head_length * head_length))}" />

    <xacro:property name="chasis_mass" value="0.1" />
    <xacro:property name="chasis_radius" value="0.0825" />
    <xacro:property name="chasis_height" value="0.025" />

    <xacro:property name="chasis_inertia_calc" value="${(1/12) * chasis_mass * ((3 * (chasis_radius * chasis_radius)) + (chasis_height * chasis_height))}" />
    <xacro:property name="chasis_inertia_calc_izz" value="${(1/2) * chasis_mass * (chasis_radius * chasis_radius)}" />

    <xacro:macro name="chasis">

        <!-- Robot Head -->
        <link name="head">
            <visual>
                <geometry>
                    <box size="${head_length} ${head_width} ${head_height}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <box size="${head_length} ${head_width} ${head_height}" />
                </geometry>
            </collision>
            <inertial>
                <mass value="${chasis_mass}"/>
                <inertia ixx="${head_inertia_calc_ixx}" ixy="0.0" ixz="0.0" iyy="${head_inertia_calc_iyy}" iyz="0.0" izz="${head_inertia_calc_izz}"/>
            </inertial>
        </link>
        <joint name="joint_chasis__head" type="fixed">
            <origin xyz="0.065 0 0.025" rpy="0 0 0" />
            <parent link="chasis"/>
            <child link="head"/>
        </joint>

        <!-- Main Robot Body  -->
        <link name="chasis">
            <visual>
                <geometry>
                    <cylinder radius="${chasis_radius}" length="${chasis_height}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${chasis_radius}" length="${chasis_height}" />
                </geometry>
            </collision>
            <inertial>
                <mass value="${chasis_mass}"/>
                <inertia ixx="${chasis_inertia_calc}" ixy="0.0" ixz="0.0" iyy="${chasis_inertia_calc}" iyz="0.0" izz="${chasis_inertia_calc_izz}"/>
            </inertial>
        </link>
        <joint name="joint_base_footprint__chasis" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="base_footprint"/>
            <child link="chasis"/>
        </joint>
    </xacro:macro>

</robot>